@import 'core/settings';
@import 'core/links';

.app {
	background:$color-white;
	margin: 0;
  height: 100vh;
  text-align:center;
}
.app__main{

}
.header__title{

}
.radio__container{
  display:flex;
  justify-content:center;
}
.option__container{

}
.main__cards-container{

}
.cards__list{

}
