<main class="app__main">
  <h1 class="header__title">El juego de las parejas</h1>
  <div class="radio__container">
    <div class="option__container">
      <label for="game-option-4">
        <input id="game-option-4" type="radio" value="4" name="game-options" />
        4
      </label>
    </div>
    <div class="option__container">
      <label for="game-option-6">
        <input id="game-option-6" type="radio" value="6" name="game-options" />
        6
      </label>
    </div>
    <div class="option__container">
      <label for="game-option-8">
        <input id="game-option-8" type="radio" value="8" name="game-options" />
        8
      </label>
    </div>
    <button class="btn__start">comenzar</button>
  </div>


  <div class="main__cards-container">
    <ul class="cards__list">
    </ul>
  </div>
</main>
